@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700&family=Kiwi+Maru:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  width: 100%;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-size-adjust: 100%;
  font-family: 'Gluten', cursive;
  background-color: pink;
  color: white;
}
header h1{
  font-size: 50px;
  padding: 20px 0;
}
.clock{
  font-size: 200px;
  text-align: center;
  margin: 40px 0;
}

.messages{
  font-size: 50px;
  font-family: 'Kiwi Maru', serif;
  margin: 20px 0;
}
.stopWatch{
  font-size: 80px;
}

.border_bottom_btn {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 70px;
  margin: 20px;
  
}
.border_bottom_btn:hover {
  cursor: pointer;
  text-decoration: none;
}
.border_bottom_btn::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.border_bottom_btn:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.flex{
  display: flex;
}
.startList{
  font-size: 40px;
  width: 50%;
  padding: 30px;
}
.restList{
  font-size: 40px;
  width: 50%;
  padding: 30px;
}